<%= form_for @address, :url => addresses_path, :html => { :id => 'input-address' } do |f| -%>
  <%= label_tag :fake_name, "Enter URL: " -%>
  <%= text_field_tag :fake_name, '', :id => "address_name" -%>

  <div id="address_list">
    <%- @addresses.each do |add| -%>
      <div class="address"><%= link_to add.name, "http://" + add.name, :target => "_blank" -%></div>
    <%- end -%>
  </div>
<%- end -%>

