<!DOCTYPE html>
<html>
  <head>
    <title>Ror - Mvc - Test</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'application', 'core' -%>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
